.header{
    font-family: serif;       
}

ody{
    font-family: Helvetica;
    background:radial-gradient(rgb(248, 247, 245),rgb(231, 167, 130));
    font-size: medium;
    color: rgb(9, 9, 9);
    text-align: center;
    border-style: solid;

}

h1{
    color: black; 
    text-decoration: underline;
    border-style: solid;
}

header{
    text-align: left;
    text-decoration: wavy;
}

div{
    text-align: left;
}

h3{
    border-style: solid;
    background-color: black;
    color: white;
}

div {
  padding: 70px;
  border: 1px solid #040604;
}